<ul class="navbar-nav nav justify-content-end">
    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('datos.index') }}">Datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('cuentas.index') }}">Cuentas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('gastos.index') }}">Gastos</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
    </li>
    {% endif %}
</ul>